#graph-container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    position: absolute;
}

.modal-dialog {
    position: absolute;
    width: 400px;
    padding-left: 0px;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.main-section {
    margin-left: 50px;
    margin-top: 70px !important;
    padding: 0;
}

.modal-content{
    background-color: #343a40;
    opacity: 1;
    padding: 25px 15px;
    border-radius: 6px;
}

.btn{
    margin-bottom: 20px;
}

#btn-size{
    margin-bottom: 0px !important;
}

.form-control-lg{
    font-size: 1rem;
    height: 2.5rem;
    margin-bottom: 20px;
}

.form-check-label{
    color: #fff; 
}

.label{
    padding-left: 7px;
    color: #fff;
    text-align: left;
}

.form-group{
    padding-left: 7px;
    text-align: left;
}

.modal2{
    margin-left: calc(100% - 350px);
    width: 320px;
}

.content2{
    background-color: #343a40;
    opacity: 1;
    padding: 20px 20px 0px 20px;
    border-radius: 6px;
}

.node-atrributes{
    text-align: center;
    color: #fff;
}