
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% include 'GrafosApp/links.html' %}
    <title>Graph View</title>
  </head>
<body id="body">
  {% include 'GrafosApp/navbar.html' %}
  <div id="graph-container"></div>
    <form method="POST">
      {% csrf_token %} 
      <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
          <div class="modal-content">
              <div class="form-group">
                  <input class="form-control transparent-input" type='search' name='destiny' placeholder="ID Destiny"  required>
              </div>
              <div class="form-group">                                                                                    
                  <input class="form-control transparent-input" type='text' id='steps' name='steps' placeholder="Number of Steps"  required>
              </div>     
              <button type="submit" id="btn-size" class="btn btn-light">Search</button>  
          </div>
        </div>
    </form>
  </div>
  <script>
    var graph_info = {{ table|safe }};
    var steps = {{ steps|safe }};
  </script>
  <script src="{% static 'js/steps.js' %}"></script>
</body>
</html>
