
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% include 'GrafosApp/links.html' %}
    <title>Graph View</title>
  </head>
<body id="body">
  {% include 'GrafosApp/navbar.html' %}
  <div id="graph-container"></div>
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">
        <div class="form-group">
          <input class="form-control transparent-input" type='text' id='destiny' placeholder="ID Destiny"  required>
        </div>
        <div class="form-group">
          <input class="form-control transparent-input" type='text' id='target' placeholder="ID Target"  required>
        </div>
        <label class="label">Path Options:</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="euclidianCheckbox" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Euclidian</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="shortestCheckbox" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Shortest</label>
          </div>
        </div>
        <button type="button" id="btn-path" class="btn btn-light">Find Path</button>
        <button type="button" id="btn-refresh" class="btn btn-light">Reset Colors</button>
        <select class="form-control form-control-lg" id="select-option"></select>
        <button type="button" id="btn-size" class="btn btn-light">Change Node Size</button>
      </div>
    </div>
  </div>
  <script src="{% static 'js/graph.manipulation.js' %}"></script>
</body>
</html>
