{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- BOOTSTRAP IMPORTS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


<!-- SIGMA IMPORTS -->
<script src="{% static 'js/sigma.min.js' %}"></script>
<script src="{% static 'js/sigma.require.js' %}"></script>
<script src="{% static 'js/src/sigma.core.js' %}"></script>
<script src="{% static 'js/src/conrad.js' %}"></script>
<script src="{% static 'js/src/utils/sigma.utils.js' %}"></script>
<script src="{% static 'js/src/utils/sigma.polyfills.js' %}"></script>
<script src="{% static 'js/src/sigma.settings.js' %}"></script>
<script src="{% static 'js/src/classes/sigma.classes.dispatcher.js' %}"></script>
<script src="{% static 'js/src/classes/sigma.classes.configurable.js' %}"></script>
<script src="{% static 'js/src/classes/sigma.classes.graph.js' %}"></script>
<script src="{% static 'js/src/classes/sigma.classes.camera.js' %}"></script>
<script src="{% static 'js/src/classes/sigma.classes.quad.js' %}"></script>
<script src="{% static 'js/src/classes/sigma.classes.edgequad.js' %}"></script>
<script src="{% static 'js/src/captors/sigma.captors.mouse.js' %}"></script>
<script src="{% static 'js/src/captors/sigma.captors.touch.js' %}"></script>
<script src="{% static 'js/src/renderers/sigma.renderers.canvas.js' %}"></script>
<script src="{% static 'js/src/renderers/sigma.renderers.webgl.js' %}"></script>
<script src="{% static 'js/src/renderers/sigma.renderers.svg.js' %}"></script>
<script src="{% static 'js/src/renderers/sigma.renderers.def.js' %}"></script>
<script src="{% static 'js/src/renderers/webgl/sigma.webgl.nodes.def.js' %}"></script>
<script src="{% static 'js/src/renderers/webgl/sigma.webgl.nodes.fast.js' %}"></script>
<script src="{% static 'js/src/renderers/webgl/sigma.webgl.edges.def.js' %}"></script>
<script src="{% static 'js/src/renderers/webgl/sigma.webgl.edges.fast.js' %}"></script>
<script src="{% static 'js/src/renderers/webgl/sigma.webgl.edges.arrow.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.labels.def.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.hovers.def.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.nodes.def.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.edges.def.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.edges.curve.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.edges.arrow.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.edgehovers.def.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.edgehovers.curve.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
<script src="{% static 'js/src/renderers/canvas/sigma.canvas.extremities.def.js' %}"></script>
<script src="{% static 'js/src/renderers/svg/sigma.svg.utils.js' %}"></script>
<script src="{% static 'js/src/renderers/svg/sigma.svg.nodes.def.js' %}"></script>
<script src="{% static 'js/src/renderers/svg/sigma.svg.edges.def.js' %}"></script>
<script src="{% static 'js/src/renderers/svg/sigma.svg.edges.curve.js' %}"></script>
<script src="{% static 'js/src/renderers/svg/sigma.svg.labels.def.js' %}"></script>
<script src="{% static 'js/src/renderers/svg/sigma.svg.hovers.def.js' %}"></script>
<script src="{% static 'js/src/middlewares/sigma.middlewares.rescale.js' %}"></script>
<script src="{% static 'js/src/middlewares/sigma.middlewares.copy.js' %}"></script>
<script src="{% static 'js/src/misc/sigma.misc.animation.js' %}"></script>
<script src="{% static 'js/src/misc/sigma.misc.bindEvents.js' %}"></script>
<script src="{% static 'js/src/misc/sigma.misc.bindDOMEvents.js' %}"></script>
<script src="{% static 'js/src/misc/sigma.misc.drawHovers.js' %}"></script>

<!-- PLUGIN SIGMA IMPORTS -->
<script src="{% static 'js/plugins/sigma.renderers.edgeLabels/settings.js' %}"></script>
<script src="{% static 'js//plugins/sigma.parsers.json/sigma.parsers.json.js' %}"></script>
<script src="{% static 'js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js' %}"></script>
<script src="{% static 'js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js' %}"></script>
<script src="{% static 'js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js' %}"></script>
<script src="{% static 'js/plugins/sigma.layout.forceAtlas2/worker.js' %}"></script>
<script src="{% static 'js/plugins/sigma.layout.forceAtlas2/supervisor.js' %}"></script>
<script src="{% static 'js/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js' %}"></script>
<script src="{% static 'js/plugins/sigma.pathfinding.astar/sigma.pathfinding.astar.js' %}"></script>
<script src="{% static 'js/plugins/sigma.plugins.animate/sigma.plugins.animate.js' %}"></script>


<!-- ANOTHER IMPORTS -->
<script>
    //Guardando o caminho para os JSON em variaveis qeu serão usadas depois.
    var json_path_conhecidos = "{% static 'json/conhecidos.json' %}";
    var json_path_connectivity_by_artists = "{% static 'json/connectivity_by_artists.json' %}";
    var json_path_connectivity_by_movies = "{% static 'json/connectivity_by_movies.json' %}";
    var json_path_connectivity_by_people = "{% static 'json/connectivity_by_people.json' %}";
    var json_path_similarity_artists_movies = "{% static 'json/similarity_artists_movies.json' %}";
    var json_path_similarity_people_movies = "{% static 'json/similarity_people_movies.json' %}";
    var json_path_similarity_people_artists = "{% static 'json/similarity_people_artists.json' %}";
    var json_path_similarity = "{% static 'json/similarity.json' %}";
</script>
<script src="{% static 'js/djisktra.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">


