
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% include 'GrafosApp/links.html' %}
    <title>Graph View</title>
  </head>
<body id="body">
  {% include 'GrafosApp/navbar.html' %}
  <div id="graph-container"></div>
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">
        <label class="label">Filter Options:</label>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Checkbox1" value="option1">
            <label class="form-check-label" for="defaultCheck1">Person Connection</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Checkbox2" value="option2">
            <label class="form-check-label" for="defaultCheck2">Artist Connection</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Checkbox3" value="option2">
            <label class="form-check-label" for="defaultCheck2">Movie Connection</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Checkbox4" value="option2">
            <label class="form-check-label" for="defaultCheck2">Person and Artist Similarity</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Checkbox5" value="option2">
            <label class="form-check-label" for="defaultCheck2">Person and Film Similarity</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Checkbox6" value="option2">
            <label class="form-check-label" for="defaultCheck2">Film and Artist Similarity</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Checkbox7" value="option2">
            <label class="form-check-label" for="defaultCheck2">All Similarity</label>
          </div>
        </div>
        <button type="button" id="btn-filter" class="btn btn-light">Filter</button>
        <button type="button" id="btn-refresh" class="btn btn-light">Reset Colors</button>
      </div>
    </div>
  </div>
  <script src="{% static 'js/multilayer.js' %}"></script>
</body>
</html>
