{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">
      <img src="{% static 'graph.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> 
    Graph Viewer
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Knows</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/multilayer/">Multilayer</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/steps/">Number Of Steps</a>
    </div>
  </div>
</nav>